
h1{
    text-align: center;
    font-size: 34px;
    color: royalblue;
}
#chart{
    display: flex;
    gap: 10px;
    
}
#chart > div{
    border: 3px solid black;
    
    
}


#piechart {
   
   
}


