<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mtbatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.simpleshop.mapper.ItemMapper">
    <insert id="saveItem" parameterType="com.shop.simpleshop.dto.item.ItemSaveDto">
        insert into item (name, writer, price, itemDetail, stock, sellCount,cartCount,regDate) values (#{name},#{writer}, #{price}, #{itemDetail}, #{stock},0,0, DATE(now()) )
    </insert>

    <delete id="deleteItem" parameterType="java.lang.Integer">
        delete from item where item_no = #{itemId};
    </delete>

    <update id="updateItem" parameterType="java.util.HashMap">
        update item set name = #{itemUpdateDto.name}
                      , price = #{itemUpdateDto.price}
                      , stock = #{itemUpdateDto.stock}
                      , itemDetail = #{itemUpdateDto.itemDetail}
                      , writer = #{itemUpdateDto.writer}
                      , modiftDate = DATE(now())
        where item_no = #{itemId};
    </update>
    <select id="findAllItem" resultType="com.shop.simpleshop.dto.item.ItemResponseListDto" >
        select * from item;
    </select>

    <select id="analWriter" resultType="com.shop.simpleshop.dto.item.ItemResponseAnalDto">
        select writer, count(item_no) as count from item group by writer;
    </select>
</mapper>