<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mtbatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.simpleshop.mapper.UserMapper">
    <insert id="signUp" parameterType="com.shop.simpleshop.dto.user.UserSignUpDto">
        insert into User (id, password,name, age, address, email, creteDate,grade) values (#{id}, #{password},#{name}, #{age}, #{address}, #{email}, DATE(NOW()),"ROOKIE")
    </insert>
    <select id="login" parameterType="com.shop.simpleshop.dto.user.UserLoginDto" resultType="java.lang.String">
        select password from user where id = #{id};
    </select>
    <select id="findById" parameterType="java.lang.String" resultType="java.lang.Integer">
        select user_no from user where id = #{id}
    </select>

</mapper>